/*reset import*/
@import url(reset.css);

/* Typography */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@font-face {
	font-family: fghr;
	src        : url('FGHR.ttf');
}

html{
	font-family: 'Ubuntu', sans-serif;
	font-size  : 2.92vw; /*Adjusted to set 14px font on 480px width screen*/
	width      : 100%;
}


h1 {
	font-family   : 'fghr';
	font-size     : 4.7rem;
	text-transform: uppercase;
}

p, li {
	font-size  : 1rem;
	line-height: 1.1rem;
}

/* Color classes */
.black {
	color: rgb(44, 45, 45);
}

.blue {
	color: rgb(108, 156, 228);
}

.grey {
	color: rgb(192, 192, 194);
}

.uppercase {
	text-transform: uppercase;
}

/* Site Background*/
body {
	background: url(../images/wzorek.png) rgb(236, 237, 237)  repeat;
	position: relative;
}
/*animacje*/
nav {
	/*transition: all 0.5s ease;*/
}

.welcome {
	/*transition: all 0.1s ease;*/
}
/*nav styling*/


nav ul {
	display        : flex;
	flex-wrap      : nowrap;
	justify-content: center;
}
.navLink {
	background     : url(../images/menuCover.png) no-repeat center;
	background-size: contain;
	display        : block;
	vertical-align : middle;
}
nav li a {
	align-items    : center;
	color          : white;
	display        : flex;
	height         : 5rem;
	text-decoration: none;
	width          : 5rem;
}
nav li a p {
	font-size     : 1rem;
	text-align    : center;
	text-transform: uppercase;
	width         : 96%;
}

nav .active {
	background     : url(../images/menuCover1.png) no-repeat center;
	background-size: contain;
}
/* list icons */
#projects {
	list-style-image   : url('../images/arrow.gif');
	list-style-position: outside;
	padding-left       : 14px;
	/*margin-left: 7px;*/
	/*background: url('../images/arrow.gif') no-repeat;
	background-position:left center ;
	padding-left: 14px;
	background-size: 2%;*/
}
/* responisve image*/
img {
	max-width: 100%;
}

/*Layout*/
body{
	padding: 0 0.8rem;
	overflow-x: hidden;

}


nav {
	margin-top: 3.57rem;
}

h1 {
	margin-top: 2rem;
}

#mainHeader h1 {
	margin-top: 0;
}
.collapse {
	margin-top: 1rem;
}

/*work list*/
#projects li {
	margin-top: 0.8rem;
}

#projects li:nth-of-type(1){
	color: rgb(108, 156, 228);
}

#gallery {
	margin-top: 2rem;
	text-align: center;
}

.galleryInner{
	display: inline-block;
}
form {
	position: relative;
}

form input, textarea {
	display    : block;
	font-family: 'Ubuntu';
	margin-top : 0.5rem;
	width      : 80%;
}

form input:nth-of-type(1){
	margin-top: 0.9rem;
}

form textarea {
	display: inline-block;
	height : 8rem;
}

[type="submit"]{
	/*vertical-align: bottom;*/
	background      : url(../images/menuCover.png) no-repeat center;
	background-size : contain;
	color           : white;
	display         : inline-block;
	font-size       : 1rem;
	height          : 5rem;
	margin-left     : 1rem;
	width           : 5rem;
	position: absolute;
	right: 2rem;
	bottom: -2rem;
}

/* adress section*/
#media {
	width:100%;
	/*height: 300px;*/
	/*overflow: hidden;*/
}

#media:after{
	content: "";
	clear: both;
	display: block;
}
#media .left {
	float:left;
}

#media .right {
	float: right;
}

#media div div {
	height:5rem;
	padding-left:4rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#media div div p:nth-child(2) {
	color: rgb(108, 156, 228);
}
.email {
	background      : url(../images/mail.gif) no-repeat left center;
	background-size: 3.5rem 3.5rem;
}

.adress {
	background      : url(../images/adres.gif) no-repeat left center;
	background-size: 3.5rem 3.5rem;
}

.skype {
	background      : url(../images/skype.gif) no-repeat left center;
	background-size: 3.5rem 3.5rem;
}

.phone {
	background      : url(../images/tel.gif) no-repeat left center;
	background-size: 3.5rem 3.5rem;
}

/*technology images*/
.technology{
	text-align: center;
	}
.technology p{
	text-align: left;
	text-transform: uppercase;
}

.technology img {
	margin:0.5rem;
	width: 16%;
	max-width: 60px;
}

/* How can i Help section*/

.center {
	text-align: center;
}

.help {
	background-image: url('../images/photo.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 10rem;

	padding:2rem 0 2rem 13rem;
	text-transform: uppercase;
	margin-top: 3rem;
}

/*footer */
footer{
	text-align: center;
	margin-top: 2rem;
	padding-top: 1rem;
	margin-left: -0.8rem;
	margin-right: -0.8rem;
	border-top: 0.1rem solid rgb(192, 192, 194);
}
/*fixed top nav*/
.sticky {

	margin-top: 0px;
	position: fixed;
	top:0;
	background-color: rgb(192, 192, 194);
	margin-left: -0.8rem;
	margin-right: -0.8rem;
	width: 100%;

}

 .sticky .navLink {
	background-image: none;
}

.sticky .mainNav {
	height:3rem;
	align-items: center;
	overflow: hidden;
	font-size: 1rem;
}

.sticky .active {
	background-color: rgb(108, 156, 228);
}

.nobg a{
	background-image: none !important;
}
/*media queries tablet*/
@media all and (min-width: 650px) and (max-width: 1024px) {
	html{
		font-size:1.92vw;
		width:100%;
	}

	body {
		width:80%;
		margin:0 auto;
	}

	.sticky {
		width:120%;
		margin-right: 0;
		margin-left: -20%;
	}

	footer {
		width:140%;
		margin-right: 0;
		margin-left: -20%;
	}
}

/*media queriesdesktop*/
@media all and (min-width: 1024px) {
	html{
		font-size:0.95vw;
		width:100%;
	}

	body {
		width:80%;
		margin:0 auto;
	}
	nav {
		margin:2rem 0 0 0;
	}

	h1 {
		margin: 0;
	}
	.welcome{
		margin-top:6.95rem;
	}

	.welcome h1 {
		margin-top: 0;
	}

	#gallery {
		margin-top:7.3rem;
	}

	.about {
		margin-top: 7.2rem;
	}

	.work {
		clear: right;
	}

	section p {
		/*padding:3rem;*/
	}

	section p:first-child, section ul:first-child {
		margin-top:3rem;
	}

	#work {
		margin-top:5.2rem;
	}

	#touch {
		z-index: -9999;
		clear:both;
		margin-top:5.2rem;
	}

	#touch input, textarea{
		margin-top: 1.9rem;
	}

	#skills {
		margin-top:5.2rem;
	}

	#skills .graph {
		margin:3rem;
	}

	.sticky {
		width:120%;
		margin-right: 0;
		margin-left: -20%;
		z-index: 9999;
	}

	footer {
		width:140%;
		margin-right: 0;
		margin-left: -20%;
		clear:both;

	}

	.clear {
		clear:both;
		padding-top: 7rem;
		overflow: hidden;
		display:flex;
		align-items:  center;
		flex-flow: column;
	}

	.help li {
		/*width:50%;*/
	}

	.right {
		float:right;
		width:50%;
	}

	.left {
		float:left;
		width:50%;
	}
}